html,
body {
    height: 100%;
    background-color: #333;
    background-image: url("imgs/onlyback.jpg");
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
.outer {
}
.aa {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('imgs/logo_top2.png');
    background-color: transparent;
    background-size: 100%;

}
.nav>li>a:focus, .nav>li>a:hover {
    background-color: transparent;
}
a {
    color: #0f0f0f;
}
.nav {
    font-size: 20px;
    font-weight: bold;
    font-color: #000;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
}

.nav:hover {
    background-color: transparent;
}
.navbar-static-top {
    background-color: transparent;
    border: 0px;
}
.inside {
    width: 100%;
    height: 100%;
    transform: scale(0.9);
    background-position: center;
    background-size: cover;
    transition: all 1s;
}
.inside:hover {
    transform: scale(1);
}
.img-circle
{
    width: 140px;
    height: 140px;
    opacity: 0.5;
    background-size: 200%;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 1s;

}

.img-circle:hover {
    opacity: 1;
    background-size: 250%;
}

.extra {
    transform: scale(1.2);
}

.container-news {
    width: 100%;
    padding: 50px;
    height: 430px;
    background-color: #3c3c3c;
    background-image: url("imgs/trips.png");
    background-size: cover;
    margin-bottom: 40px;
}

.new-section {
    width: 600px;
    float: right;
}

.jumbotron {
    padding: 0.5em 0.6em;
    height: 280px;
    max-height: 280px;
    background-color: #3c3c3c;
    text-align: left;
}
.jumbotron h1 {
    padding-top: 10px;
    font-size: 1.8em;
}
.jumbotron p {
    font-size: 1.5em;
}
.jumbotron .btn {
    padding: 0.5em;
}
